.match-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #000000;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  height: 350px;
  padding: 10px;
}

.team-logo {
  width: 80px;
}
.completing-team-name {
  color: #ffffffff;
  font-size: 20px;
  font-weight: 500;
}
.result {
  color: #ffffffff;
  font-size: 15px;
  font-weight: 500;
}
.match-status {
  color: #ffffffff;
  font-size: 15px;
  font-weight: 500;
}
