.latest-match-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
}
.completing-team-details {
  display: flex;
  flex-direction: column;
}
.completing-teamName {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
.date {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
}
.completing-team-image {
  width: 100px;
}
